<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
    <typeAliases>  
        <typeAlias alias="KbsModuleSource" type="org.javacoo.cowswing.plugin.kbs.domain.KbsModuleSource"/>
        <typeAlias alias="KbsModuleSourceCriteria" type="org.javacoo.cowswing.plugin.kbs.service.beans.KbsModuleSourceCriteria"/>
        <typeAlias alias="KbsModuleArticle" type="org.javacoo.cowswing.plugin.kbs.domain.KbsModuleArticle"/>
        <typeAlias alias="KbsModuleArticleCriteria" type="org.javacoo.cowswing.plugin.kbs.service.beans.KbsModuleArticleCriteria"/>
        <typeAlias alias="KbsType" type="org.javacoo.cowswing.plugin.kbs.domain.KbsType"/>
        <typeAlias alias="KbsTypeCriteria" type="org.javacoo.cowswing.plugin.kbs.service.beans.KbsTypeCriteria"/>
        
    </typeAliases>  
    <mappers>  
        <mapper resource="resources/mybatis/kbs/KbsModuleSourceMapper.xml" />
        <mapper resource="resources/mybatis/kbs/KbsModuleArticleMapper.xml" />
        <mapper resource="resources/mybatis/kbs/KbsTypeMapper.xml" /> 
    </mappers>  
</configuration>  